atomicwrites==1.4.0
attrs==20.3.0
Authlib==0.15.5
bson==0.5.10
cffi==1.15.0
cryptography==3.4.8
importlib-metadata==4.10.1
iniconfig==1.1.1
more-itertools==8.12.0
msgpack==1.0.3
packaging==20.9
pluggy==0.13.1
py==1.11.0
pycparser==2.21
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
six==1.16.0
toml==0.10.2
wcwidth==0.2.5
zipp==3.7.0
